@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

@screen k-lg {
  html {
    font-size: 75%;
  }
}

body {
  @apply bg-k-navy-light;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Meiryo", sans-serif;
}

.menu-btn-top-enter {
  transform: rotate(0deg);
  top: 6px;
}

.menu-btn-top-enter-active {
  transition: 0.4s;
  transform: rotate(225deg);
  top: 20px;
}

.menu-btn-top-enter-done {
  transform: rotate(225deg);
  top: 20px;
}

.menu-btn-top-exit {
  transform: rotate(225deg);
  top: 20px;
}

.menu-btn-top-exit-active {
  transition: 0.4s;
  transform: rotate(0deg);
  top: 6px;
}

.menu-btn-top-exit-done {
  transform: rotate(0deg);
  top: 6px;
}

.menu-btn-middle-enter {
  transform: rotate(0deg);
}

.menu-btn-middle-enter-active {
  transition: 0.4s;
  transform: rotate(180deg);
  background: transparent;
}

.menu-btn-middle-enter-done {
  transform: rotate(180deg);
  background: transparent;
}

.menu-btn-middle-exit {
  transform: rotate(180deg);
  background: transparent;
}

.menu-btn-middle-exit-active {
  transition: 0.4s;
  transform: rotate(0deg);
  background: white;
}

.menu-btn-middle-exit-done {
  transform: rotate(0deg);
  background: white;
}

.menu-btn-bottom-enter {
  transform: rotate(0deg);
  top: 34px;
}

.menu-btn-bottom-enter-active {
  transition: 0.4s;
  transform: rotate(135deg);
  top: 20px;
}

.menu-btn-bottom-enter-done {
  transform: rotate(135deg);
  top: 20px;
}

.menu-btn-bottom-exit {
  transform: rotate(135deg);
  top: 20px;
}

.menu-btn-bottom-exit-active {
  transition: 0.4s;
  transform: rotate(0deg);
  top: 34px;
}

.menu-btn-bottom-exit-done {
  transform: rotate(0deg);
  top: 34px;
}

.menu-list-enter {
  bottom: -40vh;
}

.menu-list-enter-active {
  transition: 0.4s;
  bottom: 104px;
}

.menu-list-enter-done {
  bottom: 104px;
}

.menu-list-exit {
  bottom: 104px;
}

.menu-list-exit-active {
  transition: 0.4s;
  bottom: -40vh;
}

.menu-list-exit-done {
  bottom: -40vh;
}

/* ↓Glitchエフェクト */
/* ref=["https://www.youtube.com/watch?v=7Xyg8Ja7dyY", "https://codepen.io/kevinpowell/pen/YzqerQm" */
.glitch {
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}

.glitch span {
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}
