@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

@screen k-lg {
  html {
    font-size: 75%;
  }
}

body {
  @apply bg-k-navy-light;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Meiryo", sans-serif;
}

.menu-btn-top-enter {
  transform: rotate(0deg);
  top: 6px;
}

.menu-btn-top-enter-active {
  transition: 0.4s;
  transform: rotate(225deg);
  top: 20px;
}

.menu-btn-top-enter-done {
  transform: rotate(225deg);
  top: 20px;
}

.menu-btn-top-exit {
  transform: rotate(225deg);
  top: 20px;
}

.menu-btn-top-exit-active {
  transition: 0.4s;
  transform: rotate(0deg);
  top: 6px;
}

.menu-btn-top-exit-done {
  transform: rotate(0deg);
  top: 6px;
}

.menu-btn-middle-enter {
  transform: rotate(0deg);
}

.menu-btn-middle-enter-active {
  transition: 0.4s;
  transform: rotate(180deg);
  background: transparent;
}

.menu-btn-middle-enter-done {
  transform: rotate(180deg);
  background: transparent;
}

.menu-btn-middle-exit {
  transform: rotate(180deg);
  background: transparent;
}

.menu-btn-middle-exit-active {
  transition: 0.4s;
  transform: rotate(0deg);
  background: white;
}

.menu-btn-middle-exit-done {
  transform: rotate(0deg);
  background: white;
}

.menu-btn-bottom-enter {
  transform: rotate(0deg);
  top: 34px;
}

.menu-btn-bottom-enter-active {
  transition: 0.4s;
  transform: rotate(135deg);
  top: 20px;
}

.menu-btn-bottom-enter-done {
  transform: rotate(135deg);
  top: 20px;
}

.menu-btn-bottom-exit {
  transform: rotate(135deg);
  top: 20px;
}

.menu-btn-bottom-exit-active {
  transition: 0.4s;
  transform: rotate(0deg);
  top: 34px;
}

.menu-btn-bottom-exit-done {
  transform: rotate(0deg);
  top: 34px;
}

.menu-list-enter {
  bottom: -40vh;
}

.menu-list-enter-active {
  transition: 0.4s;
  bottom: 104px;
}

.menu-list-enter-done {
  bottom: 104px;
}

.menu-list-exit {
  bottom: 104px;
}

.menu-list-exit-active {
  transition: 0.4s;
  bottom: -40vh;
}

.menu-list-exit-done {
  bottom: -40vh;
}
